body {
    background-color: #291725;
    color: white;
    justify-content: center;
    border: groove 5px;
    border-color:darkorchid;
    
    
}
.front{
    text-align: center;
    justify-content: center;
}
#header {
    h1 {
        font-size: 400%;
        text-align: center;
        padding:10px;
          background: linear-gradient(to right,#ED2CFA, rgb(94, 198, 94), #2a44cd, #C47AD0, orange);
          -webkit-background-clip: text;
          color: transparent;
          animation: rainbow_animation 10s ease-in-out infinite;
          background-size: 400% 100%;
          }
          
          @keyframes rainbow_animation {
          0%,100% {
          background-position: 0 0;
    }
          }
        }

#genFact{

       
    border: 3px solid;
    border-color: rgb(255,0,126);
    border-radius: 10px;
    background-color:#290725;
     height: 50px;
     width: 100px;
     color: white;
     font-weight: bold;
     font-size: medium;
     cursor: pointer;


 }
 #card{

   
    border: 10px solid;
    border-color: rgb(255,0,126);
    border-radius: 10px;

 }
 #lotGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
 }
 #factHolder{
    background-color: #b30060;
    height: 200px;
     width: 400px;
     margin-top: 26px;
     border-radius: 10px;
     border: 10px solid;
     border-color: #b30060;
     justify-content: center;
     text-align: center;
     font-size: large;
     font-weight: bold;
 }
 #notDisplayed{
    height: 300px;
    width: 300px;
    display:none;
    background-color: rgb(255,0,126);
    border-radius: 10px;
     border: 10px solid;
     border-color: #059231;
     justify-content: center;
     cursor: pointer;
     margin-left: 50px;
     margin-top: 50px;
 }

 #excel{
    width: 300px;
    height: 100px;
    background-color: cornflowerblue
    border: 3px;
    border-color: white;
    border-radius: 10px;
    margin-left: 25px;
 }